<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Функции и Переменные</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css"> <!-- Подключаем CSS файл -->
</head>

<body id="body">
    <header>
        <h1>Моделирование информационных процессов с использованием математического аппарата вероятностного анализа безопасности</h1>
    </header>

    <div class="container central" id="main"></div>
    <div class="container central" id="main">
        <div class="inline-container">
            <button id="saveJsonButton">Сохранить JSON</button>
            <button id="loadJsonButton">Загрузить JSON</button>
            <button id="postDataButton">Рассчитать</button>
        </div>
    </div>

    </div>
    <div id="imageGallery">
        <h2 style="text-align: center;">Результаты</h2>
        <div class="image-grid">
            <img class="plot" src="./images/petal_plot_pc.png" alt="Image 1" width="1000" height="800">
            <img class="plot" src="./images/petal_plot_pc_zoom.png" alt="Image 2" width="1000" height="800">

        </div>
    </div>
    <script src="static/lib.js"></script> <!-- Подключаем JavaScript файл -->
    <script src="static/script4.js"></script> <!-- Подключаем JavaScript файл -->
</body>

</html>